.playGame{
  display: none;
}
.playingSection{
  display: none;
}

.trial{
  background-image: url(../images/favoritedice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width:100%;
 transition-property: background-image;
  transition-duration: 1s;
  transition-timing-function: linear;

}
.trial:hover{
  opacity:0.8;
}

.trial h1{
  margin-top:-10%;
}
.trial h3{
  margin-bottom: 15%;
}

.crazy{
  display:none;
  text-align: center;
  color: white;
  font-weight: 900;
  padding: 10%;
}
.playButton {
  padding-top: 25%;
  color: black;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.playButton:hover{
  text-shadow: 0 0 20px red;
  font-weight: 700;
}
.rules{
  /* padding-top: 25%; */
  color: black;
  text-shadow: 0 0 10px red;
  cursor: pointer;
  text-decoration: none;
}
.rules :hover{
  text-shadow: 0 0 20px red;
  font-weight: 700;
}
.playGame{
  background-color: black;
  background-image: url("../images/dice4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width:100%;
}
.forms{
  width:60%;
  margin: auto;
  margin-bottom: 100px;
  padding: 10%;
  color: red;
  /* background-color: rgba(244, 245, 247,0.5); */
}
.playingSection{
  height: 100vh;
  width:100%;

  background-color: #1E2D24;

}
.frustrated{
  display:flex;
  justify-content:space-around;
}
.frustrated div{
  margin:auto;
  margin-top: 20px;
  background-color: red;
  width:30%;
  text-align: center;

}
.back{
  text-align: center;
}
.firstPlayer img{
box-shadow: 0 0 10px green;
}
.secondPlayer img{
  box-shadow: 0 0 10px green;
}
.instructions{
  background-image: url("../images/page2background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  text-shadow: 0 0 10px red;
  font-weight: 700;
  padding: 15%;
}
.instructions h1{
  text-align: center;
}
.instructions a{
  text-decoration: none;
  text-shadow: none;
  color: red;
  font-size: 1.2em;
}
.instructions a:hover{
  color: black;
  text-shadow: 0 0 10px white;
}
.container{
  background-color:rgba(30, 45, 36,0.6)!important;
}
.disableGamingField{
  opacity: 0.6;
}
.playingSection h2{
  color: white;
}
input[type="text"]{
  font-family: 'Gugi', cursive;
  background:transparent;
  color: white !important;
  font-weight: 500;
}
h1{
  font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 3.0em;
}
#nameplayer1, #nameplayer2{
  background-color: transparent;
  border:0.1rem solid;
  color: white;
}
label{
    font-family: 'Gugi', cursive;
    font-weight: 500;
    font-size: 1.2em;
}
h2{
  font-family: 'Merienda', cursive;
  font-weight: 500;
  font-size: 2.5em;
}
p{
  font-family: 'Gugi', cursive;
}
.crazy h1{
  color: red;
}
.crazy h2{
  padding-bottom: 15%;
  color: red;
  /* text-shadow: 0 0 10px red; */
}
button{
  font-family: 'Gugi', cursive;
}
.playingSection{
  display: none;
}
