.playGame{
  display: none;
}
.playingSection{
  display: none;
}

.trial{
  background-image: url(../images/favoritedice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width:100%;
 transition-property: background-image;
  transition-duration: 1s;
  transition-timing-function: linear;
  /* animation: fade-slide-down 2s ease-out forwards; */
}
.trial:hover{
  /* animation: fade-slide-down 2s ease-out forwards; */
  opacity:0.8;
}
/* @@keyframes fade-slide-down {
  0%{
    opacity:0;
    transform:translateY(-4rem);
  }
  100%{
    opacity:1;
    transform: none;
  }
} */

.crazy{
  display:none;
  text-align: center;
  color: white;
  font-weight: 900;
  padding: 10%;
}
.playButton{
  padding-top: 25%;
  color: black;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}


/* img{

  height:40vh;
} */
/* .disableGamingField{
  opacity: 0.3;
}
.startNewGame{
  display:none;
}

.playingSection{
  display: none;
} */
