.playGame{
  display: none;
}
.playingSection{
  display: none;
}


/* img{

  height:40vh;
} */
/* .disableGamingField{
  opacity: 0.3;
}
.startNewGame{
  display:none;
}

.playingSection{
  display: none;
} */
